<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Customer>
            <version>1.0.0</version>
        </Mozg_Customer>
    </modules>
    <global>
        <models>
            <mozg_customer>
                <class>Mozg_Customer_Model</class>
                <resourceModel>mozg_customer_resource</resourceModel>
            </mozg_customer>
            <mozg_customer_resource>
                <class>Mozg_Customer_Model_Resource</class>
            </mozg_customer_resource>
        </models>
        <helpers>
            <mozg_customer>
                <class>Mozg_Customer_Helper</class>
            </mozg_customer>
        </helpers>
        <blocks>
            <mozg_customer>
                <class>Mozg_Customer_Block</class>
            </mozg_customer>
        </blocks>
        <resources>
            <mozg_customer_setup>
                <setup>
                    <module>Mozg_Customer</module>
                    <class>Mozg_Customer_Model_Resource_Setup</class>
                </setup>
            </mozg_customer_setup>
        </resources>
        <template>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Customer after="Mage_Adminhtml">Mozg_Customer_Adminhtml</Mozg_Customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Customer>
                    <files>
                        <default>Mozg_Customer.csv</default>
                    </files>
                </Mozg_Customer>
            </modules>
        </translate>
        <events>
        </events>
        <layout>
            <updates>
                <mozg_customer>
                    <file>mozg_customer.xml</file>
                </mozg_customer>
            </updates>
        </layout>
    </adminhtml>    
    <frontend>
        <events>
            <sales_quote_save_before>
                <observers>
                    <mozg_customer_sales_quote_save_before>
                        <class>mozg_customer/observer_salesQuoteSaveBefore</class>
                        <method>saveQuoteBefore</method>
                    </mozg_customer_sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
            <checkout_type_onepage_save_order>
              <observers>
                    <mozg_customer_checkout_type_onepage_save_order>
                        <class>mozg_customer/observer_checkoutTypeOnepageSaveOrder</class>
                        <method>checkoutSaveOrder</method>
                    </mozg_customer_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_customer_html_before>
                        <class>mozg_customer/observer_abstractHtml</class>
                        <method>BeforeRenderHtml</method>
                    </mozg_customer_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <mozg_customer_html_after>
                        <class>mozg_customer/observer_abstractHtml</class>
                        <method>AfterRenderHtml</method>
                    </mozg_customer_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <mozg_customer>
                    <file>mozg_customer.xml</file>
                </mozg_customer>
            </updates>
        </layout>
        <routers>
            <mozg_customer>
                <use>standard</use>
                <args>
                    <module>Mozg_Customer</module>
                    <frontName>mozg_customer</frontName>
                </args>
            </mozg_customer>
        </routers>
        <translate>
            <modules>
                <Mozg_Customer>
                    <files>
                        <default>Mozg_Customer.csv</default>
                    </files>
                </Mozg_Customer>
            </modules>
        </translate>
    </frontend>
    <default>
        <customer>
            <mozg_customer>
                <active_address_fields_create_account>1</active_address_fields_create_account>
                <active_customer_forms>1</active_customer_forms>
                <address_storage_format>1</address_storage_format>
            </mozg_customer>
        </customer>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Customer/>
            </modules>
        </suite>
    </phpunit>
</config>
